@media print { .hide-on-print { display: none; } }

.align-top img { vertical-align: top; }

.bg-light { background-color: #f6eeed !important; }

p.left { text-align: left; }

div.center { text-align: center; }

sup.smaller { top: -.8em; font-size: 50%; }

footer { padding-top: 3rem; padding-bottom: 3rem; }

footer p { margin-bottom: .25rem; }

.navbar-light .navbar-nav a.nav-link { font-size: larger; color: #000; }

.navbar-light .navbar-nav a.nav-link.active { color: #80F; font-weight: 500; }

.logo { height: 16px; width: 75px; }

.no-wrap { white-space: nowrap; }

.header { line-height: 14pt; }

.clickable { color: #007bff; cursor: pointer; }

.large { font-size: larger; }

.bold-header { font-weight: bold; }

.indent-block { padding-left: 2em; }

.arrow { height: 16px; font-size: larger; font-weight: 900; }

.sort-button { height: 56px; width: 95%; padding: 0px 6px !important; }

.sort-button.green, .btn-success.green { background-color: #35650d; border-color: #35650d; }

.sort-button:hover { background-color: #aaa; border-color: #aaa; }

.space-above { padding-top: 0.5rem; }

.space-below { padding-bottom: 0.5rem; }

table.dataTable thead tr th { padding: 0px 2px 2px; }

table.dataTable tbody tr td { padding: 0px 2px; }

table.dataTable tbody tr td.pad-right { padding-right: 0.5rem; }

table.dataTable tbody tr td.pad-right-extra { padding-right: 3rem; }

table.dataTable tbody tr td { color: #000 }

table.dataTable tbody tr td a { color: #0082ba }

.top-border, .top-border th { border-top: 1px solid #000 !important; }

.no-top-border, .no-top-border th { border-top: 0 !important; }

.bottom-border, .bottom-border th { border-bottom: 1px solid #000 !important; }

.no-bottom-border, .no-bottom-border th { border-bottom: 0 !important; }

.left-border, .left-border th { border-left: 1px solid #000 !important; }

.no-left-border, .no-left-border th { border-left: 0 !important; }

.right-border, .right-border th { border-right: 1px solid #000 !important; }

.no-right-border, .no-right-border th { border-right: 0 !important; }

.grey-background { background-color: #eee; }

.white-background { background-color: #fff; }
